*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.FirstInfoSection_Nav{
    height: 15vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;

}

.Leftpart_navbar{
    height: 100%;
    width: 50%;
    
}
.Rightpart_navbar{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.Navmain_Item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
height: 100%;
width: 33%;
}
.Navbar_Inneritem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
}
.Contact_us{
    flex-direction: row;
    gap: 0.1rem;
    border: 1px solid #D9D9D9;
}
.Phone_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    /* background-color: red; */
}
.Contact_us img{
    width: 50%;
    height: 60%;
}
/* ........................................Footer................................................................ */
.Footer_section{
    height: 100vh;
    width: 100%;
}
.lowerlastdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: black;
    color: white;
    gap: 1.2rem;
    padding-top: 1rem;
}
.getintouchbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.7rem 1.7rem;
    background-color: white;
    color: #000000;
}
.shortcutlinks{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 80%;

}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}
.socialmedia{
    display: flex;
    gap: 1rem;
}
hr{
    width: 100%;
    border: 1px solid #2E2E2E ;
}

/* ....................................maindesigning........................................ */
.Project_Info_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;

}
.Project_Info_section main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    width: 80%;
    /* background-color: green; */
    position: relative;
}
.Project_Info_section main p{
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: left;
    width: 80%;
    /* background-color: blue; */

}
.Project_Info_section main h1{
    font-weight: 700;
    font-size: 1.7rem;
    text-align: start;
    text-transform: uppercase;
    width: 100%;
}
.Project_Info_section main img{
    height: 100%;
    width: 100%;
}
.Project_Info_section main div{
    height: 80%;
    width: 80%;
}

.loadmore{
    padding: 1rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}
.loadmore a{
    font-size: 1.5rem;
    font-weight: 900;

}
.InformationContainer{
background-color: white;
color: #6B6B6B;
font-family: "lato",sans-serif;
font-weight: 400;
width: 30%;
height: 65%;
border: 1px solid #D2D2D2;
position: absolute;
left: 10%;
top: 135%;
font-size: 0.7rem;
line-height: 1.9rem;
padding-left: 2rem;
padding-top: 1rem;
}
.InformationContainer2{
left: 60% !important;
top: 35%;
/* background-color: red; */
}
.InformationContainer h1{
    font-size: 1rem;
    font-weight: 700;
    color:black;
font-family: "lato",sans-serif;
text-transform: uppercase;
}
.subheading,h3{
    color: black;
    font-weight: 700;
}
/* ..........................................@Media 600px.................................................................. */



@media screen and (max-width:600px) {

/* ............................Navigation bar...............................` */  

.FirstInfoSection_Nav{
    font-size: 0.7rem;
    height: 10vh;
}
    .Rightpart_navbar{
        width: 60%;
        height: 100%;
    }
    .Leftpart_navbar{
        width: 40%;
        height: 100%;
    }
    .Contact_us{
        gap: 0.6rem;
    }   
    .Phone_img{
        height: 25px;
        width: 25px;
    }

/* ..................................main...................................... */
    .Project_Info_section main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        width: 100%;
    }
    .Project_Info_section main p{
        line-height: 1.3rem;
        font-weight: 400;
        font-size: 0.7rem;
        text-align: left;
        width: 90%;
    }
    .Project_Info_section main h1{
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        text-transform: uppercase;
        width: 80%;
        margin-top: -4rem;

    }
    .Project_Info_section main img{
        height: 80%;
        width: 80%;
    }
    .Project_Info_section main div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 100%;
    }
 .InformationContainer{
    line-height: 0.9rem;
    width: 80%;
    height: 37%;
    top: 76%;
    left: 13%;
    font-size: 0.6rem;
    /* padding: 0.2rem; */
    /* left: 1%; */
 }
 .InformationContainer h1{
    font-size: 0.7rem;
 }
 .InformationContainer2{
    line-height: 0.9rem;
    width: 80%;
    height: 35%;
    top: 147%;
    left: 13% !important;
 }
    
    /* .................................................lastdiv....................................................... */
.Lastsection{
    flex-direction: column;
    font-size: 0.6rem;
}
.upperlastdiv {
    display: flex;
    flex-direction: column; /* Stack elements */
    align-items: center; /* Center align */
    justify-content: center; /* Vertically center */
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.lastleftsection h1,
.lastleftsection p {
    width: 100%;
    height: 100%;
    max-width: 100%; /* Override any constraints */
    text-align: center;
}


.lastleftsection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0;
}
.Lastrightsection{
    width: 100%;
}
.Lastrightsection img{
    padding: 1rem;
    height: 100%;
    width: 100%;
}


.lowerlastdiv p{
font-weight: 400;
line-height: 1.5rem;
font-style: normal;
/* background-color: red; */
}
.shortcutlinks{
    width: 100%;
    gap: 1rem;
}
.getintouchbtn{
    padding: 0.2rem 0.4rem;
}
.socialmedia img{
    width: 15%;
    height: 15%;
}
.lowerlastdiv{
font-size: 0.6rem;

}

}

@media screen and (min-width:601px) and (max-width:856px){
    .shortcutlinks{
        width: 100%;
        gap: 3rem;
    }
    .socialmedia img{
        width: 25%;
        height: 25%;
    }
    .lowerlastdiv{
        font-size: 0.9rem;
        
        }
        .InformationContainer{
            line-height: 1.2rem;
        }
}